/* Estilo para la barra de navegación */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}


/*------------------------------------------------------Fin de los estilos de navegación*/

/* Logo */
.logo {
    display: flex;
    align-items: center; /* Centra el logo verticalmente */
    /*margin-left: 20px; /* Ajusta el espacio desde el borde izquierdo */
    margin-left: auto; /* Empuja el logo hacia la derecha */
    margin-right: 100px; /* Ajusta el espacio desde el borde derecho si es necesario */
    
}

.logo img {
    height: 40px; /* Ajusta el tamaño del logo */
}


h1, h2, p {
    color: #ffffff;
}

/*-----------------------------------------*/
.Subtítulo {
    margin-top: 125px;
    margin-left: 100px;
    font-weight: 600;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

form {
    display: grid;
    grid-gap: 1rem;
    max-width: 400px;
    margin: auto;
    padding: 50px;
    background-color: #1c1c1e;
    box-shadow: 0 10px 20px rgb(58, 58, 58);
    border-radius: .5rem;
    transition: all 1s ease;
}
form:hover {
    transform: scale(1.1); /* Aumenta el tamaño */
    box-shadow: 0 15px 25px rgb(58, 58, 58);
}
input {
    color: white;
    background: transparent;
    border-radius: 1rem;
    font-size: 1rem;
    outline: none;
    margin-bottom: 2rem;
    letter-spacing: 1px;
    padding: 10px;
    border: 1px solid rgb(99, 97, 97);
}
textarea {
    color: white;
    background: transparent;
    border-radius: 1rem;
    font-size: 1rem;
    outline: none;
    margin-bottom: 2rem;
    letter-spacing: 1px;
    padding: 10px;
    resize: none;
    border: 1px solid rgb(99, 97, 97);
}
.buttom {
    display: flex;
    justify-content: center;
}
.mensaje {
    border: none;
    width: 20rem;
    padding: .8rem 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 1s all;
}

.mensaje:hover {
    transform: scale(1.1); /* Aumenta el tamaño */
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.701); /* Sombra */
}
#result-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
/*----------------------------------------------fin de los estilos de contacto*/


.person {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.person p {
    margin-bottom: 1rem;
}
.diseñado {
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.diseñado i {
	border-radius: 50%;
	border: 1px solid #373d48;
	padding: 7px;
}
/*------------------------------------fin de los estilos  de Quienes somos*/

.redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.redes a {
    padding: 10px;
    text-decoration: none;
	color: white;
    transition: transform 0.3s ease, color 0.3s ease;
}
.redes a:hover {
    transform: scale(1.2); /* Aumenta el tamaño en un 20% */
    color: #339700; /* Cambia el color al pasar el cursor */
}
span {
    color: #339700;
}
/*------------------------------------------------------Fin estilos de las redes sociales*/

.Proyectos {
    margin-top: 150px;
    margin-left: 100px;
    font-weight: 600;
    font-size: 2.8rem;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.Proyectos-container {
    margin-left: 100px;
    margin-bottom: 50px;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en múltiples filas */
}
.Proyecto {
    position: relative;
    margin-bottom: 50px;
    margin-right: 50px;
    border: 1px solid rgb(37, 36, 36);
    box-shadow: 0 15px 25px rgb(58, 58, 58);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    width: 350px;
    /*height: 440px;*/
    height: 700px;
    transition: all 1s ease;
    --s: 200px; /* control the size */
    --c1: #181818;
    --c2: #323232;
    --c3: #262626;
  
    background: repeating-conic-gradient(
          from 30deg,
          #0000 0 120deg,
          var(--c3) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
      repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
      );
    background-size: var(--s) calc(var(--s) * 0.577);
}
.Proyecto:hover {
    transform: scale(1.1); /* Aumenta el tamaño */
    border: 1px solid rgb(99, 97, 97);
    box-shadow: 0 15px 25px rgb(58, 58, 58);
}
.Texto {
    margin-left: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}
.Imagen {
    border-radius: 9px 9px 0 0;
    width: 100%;
    /*height: 170px;*/
    height: 345px;
}

.link {
    display: flex;
}
.Codigo {
    position: absolute;
    bottom: 10px;
    width: 90px;
    padding: 9px 15px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: .5rem;
    background-color: white;
    color: black;
    font-weight: 600;
    transition: all 0.3s ease;
    margin-top: auto; /* Empuja esta caja al final */
}
.Codigo:hover {
    transform: scale(1.1); /* Aumenta el tamaño */
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.701); /* Sombra */
}
.Codigo a {
    text-decoration: none;
    color: black;
}
.Repositorio {
    width: 70px;
    padding: 9px 15px;
    margin-left: 620px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: .5rem;
    background-color: white;
    color: black;
    font-weight: 600;
    transition: all 0.3s ease;
    cursor: pointer;
}
.Repositorio1 {
    width: 85px;
    padding: 9px 15px;
    margin-left: 620px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: .5rem;
    background-color: white;
    color: black;
    font-weight: 600;
    transition: all 0.3s ease;
    cursor: pointer;
}
.Repositorio:hover {
    transform: scale(1.1); /* Aumenta el tamaño */
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.701); /* Sombra */
}
.Repositorio1:hover {
    transform: scale(1.1); /* Aumenta el tamaño */
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.701); /* Sombra */
}

.Repositorio a {
    text-decoration: none;
    color: black;
}
.sitio {
    position: absolute;
    bottom: 10px;
    width: 75px;
    padding: 9px 15px;
    margin-top: 10px;
    margin-left: 140px;
    border-radius: .5rem;
    background-color: white;
    color: black;
    font-weight: 600;
    transition: all 0.3s ease;
}
.sitio:hover {
    transform: scale(1.1); /* Aumenta el tamaño */
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.701); /* Sombra */
}

.sitio a {
    text-decoration: none;
    color: black;
}

section {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
